ion-searchbar {
    height: 30px;
    width: 100%;
    color: #ffffff;
    --background: #ffffff;
    --border-radius: 30px;
  }

h2 {
    font-size: 30px;
    text-align: center;
    font-weight: light;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #ffffff;
}

.image-card {
    width: 100px;
    height: 100px;
    object-fit: cover;
    --border-radius: 30px;
    --background-color: linear-gradient(to bottom #003A84, #000E1F); 
    margin: 0 auto;
}

.categ {
    color: aliceblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    margin-top: 10px;
    --border-radius: 30px;
}

.image-crop {
    width: 100%; 
    height: 120px; 
    object-fit: cover;
    padding: 10px; 
    --border-radius: 30px;
    margin: 0 auto;
}

ion-list {
    background-color: transparent;
}

.isi, .dishname {
    color: aliceblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: left;
}

.dishname {
    font-size: 25px;
    font-weight: bolder;
}

