<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-searchbar show-clear-button="focus" value=" " placeholder="Search...">
    </ion-searchbar>
    <ion-buttons slot="end">
      <ion-button aria-label="Menu">
        <ion-label>Menu</ion-label>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h2>TOP FAVOURITED RECIPES</h2>
  <ion-card>
    <img
      alt="Lasagna"
      src="https://static01.nyt.com/images/2023/08/31/multimedia/RS-Lasagna-hkjl/RS-Lasagna-hkjl-superJumbo.jpg"
    />
    <ion-card-title>Lasagna</ion-card-title>
    <ion-card-content>
      Lasang. Garfield... his canon is there, the puzzle pieces are all
      available, but it is all thrown together in a confusing mess. What IS the
      solution? <br />
      (1/3)
    </ion-card-content>
  </ion-card>

  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="tab1">
        <ion-icon name="list"></ion-icon>
        <button
          ion-button
          (click)="navigateToSecondPage()"
          onclick="window.location.href='second-page.html'"
        >
          Recipes
        </button>
      </ion-tab-button>

      <ion-tab-button tab="tab2">
        <ion-icon name="heart"></ion-icon>
        <ion-label>Favorites</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="tab3">
        <ion-icon name="bookmark"></ion-icon>
        <ion-label>Bookmarks</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="tab4">
        <ion-icon name="person"></ion-icon>
        <ion-label>User</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
